import("DatABEL")
import("methods")
importFrom(graphics, "plot") 

exportPattern("^[[:alpha:]]+")

exportMethods(
    "GeneSNPsize",
    "plot",
    "show",
    "summary" 
)

exportClasses(
    "GWASdata",
     "kernel",
     "lkmt",
     "pathway" 
)

