importFrom(graphics, "plot") 

import("ff")
import("methods")
import("igraph")
import("biomaRt")
import("KEGGgraph")
import("sqldf")

exportPattern("^[[:alpha:]]+")

exportMethods(
    "GeneSNPsize",
    "plot",
    "show",
    "summary", 
    "analyze",
    "get_genes",
    "sample_genes"

)

exportClasses(
    "GWASdata",
     "kernel",
     "lkmt",
     "pathway" 
)

